DEBUG=True
SECRET_KEY=troque-esta-chave-em-producao
DJANGO_SETTINGS_MODULE=config.settings.development
ALLOWED_HOSTS=localhost,127.0.0.1,backend

POSTGRES_DB=qrcode_generator
POSTGRES_USER=qrcode_user
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=db
POSTGRES_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:5173
VITE_API_BASE_URL=http://localhost:8000/api